.todoitem{
    text-align: left;
    border: 10px;
    border-color: black;
    display : flex;
    align-items: center;
    width: 200px;
    border-bottom: 2px solid #cecece;
    

}

.completedstyle{
    font: italic;
    color: "#cdcdcd";
    text-decoration: line-through;

}